<div class="settings settings-about">
  <div class="settings-header">

  </div>

  <div class="settings-content about-content">
    <div class="about-navcontainer">

      <div class="about-text">
        <p>Hello! I am a Boston-based creator and musician aiming to make something new and interesting. Whether it's game audio and interactivity or making conceptual albums, my aim is to get as close as I can to becoming a magician with music.</p>
        <p>My approach is to learn as much as I can about techniques and systems so that I can scramble everything, hopefully correctly, into something I like. I love discovering interesting ways to tie music to emotion.</p>
        <p>I am currently a 6th semester at The Berklee College of Music, majoring in Electronic Production and Sound Design as well as Game and Interactive Media, and with a specialization in Sound Design for Games.</p>
      </div>

      <div class="about-photo">
        <img src="Aboutmephoto.jpeg" alt="Tommy van der Laan">
      </div>

    </div>
  </div>

  <div class="settings-footer">
    <div class="back viewchange" data-view="settings-main" data-transition="fade"></div>
  </div>
</div>
